<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css" class="css">
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>This code</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class='profile'>
            <img src="../static/img/perfil.jpg" alt="Foto do Ewerton">
            <h1>Ewerton Pinheiro</h1>
            <div class="link mt-4 text-center">
                <a  target="_blank" href="www.linkedin.com/in/ewerton-souto-pinheiro-3b693813b">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a  target="_blank" href="https://github.com/Ossiumx">
                    <i class="bi bi-github"></i>

                <a  target="_blank" href="http://lattes.cnpq.br/6105912111978948">
                    <i class="bi bi-file-earmark"></i>
    
            </div>

            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"> <i class="bi bi-house" aria-hidden="true"></i>
                    Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"> <i class="bi bi-person" aria-hidden="true"></i>
                    Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <i class="bi bi-list-check" aria-hidden="true"></i>
                    Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"> <i class="bi bi-file-earmark" aria-hidden="true"></i>
                    Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-collection" aria-hidden="true"></i>
                      Portfólio</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> <i class="bi bi-envelope" aria-hidden="true" ></i>
                    Contatos</a>
                </li>
              </ul>
        </nav>

    </aside>

    <main id="main">

      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow">Ewerton Pinheiro</h2>
          <span id="subtitle" class="text-white text-shadow">Graduando em Engenharia Florestal, Bolsista de Silvicultura e Manejo Florestal, Cientista de Dados</span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a></a>

          </div>
        
        </div>

      </section>

      <section  class= "container mt-5"id="sobre">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class="pt-3">Sobre</h2>
            <p> Sou estudante de Engenharia Florestal na Universidade Federal Rural do Semi-Árido (UFERSA) 
              e atualmente trabalho como bolsista de iniciação científica na área de Silvicultura e Manejo Florestal. 
              Como parte dos meus projetos e pesquisas, utilizo linguagens de programação como R e Python 
              para análises estatísticas, modelagem e geração de gráficos, entre outras atividades.
              
            </p>
          </div>

        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <img class="img-fluid shadow" src="../static/img/perfil2.jpg" alt="Foto do Ewerton">
          </div>
          <div class="col-md-8">
            <h3>Bolsista de Iniciação Científica</h3>
            <p>Atualmente trabalho na área de Silvicultura e Manejo Florestal,
              trabalhando em um projeto de nome: Teste de espécies
              florestais para produção no alto-oeste do Rio Grande do Norte
            </p>
            <div class="row mt-3 mb-3">
             <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Aniversário: <span class="fw-lighter">24 de 
                    Janeiro de 1994
                  </span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter"> 29 anos </span>
                </li>
                <li class="list-group-item">
                 Cidade/Estado: <span class="fw-lighter"> Mossoró / Rio Grande do Norte </span>
                </li>
              
              </ul>
             </div>
             <div class="col-md-6 ">
            <ul class="list-group list-group-flush fs-5">
              <li class="list-group-item">
                Hobby: <span class="fw-lighter"> Séries e Games </span>
              </li>
              <li class="list-group-item">
                Trabalho: <span class="fw-lighter"> Iniciação Científica (Pesquisas) </span>
              </li>
              <li class="list-group-item">
                Experiência: <span class="fw-lighter"> +2 anos</span>
              </li>
  
            </ul>
             </div>
            </div>

            <p> 
              Recentemente, tenho me dedicado a aprimorar minhas habilidades em machine learning e deep learning 
              para aplicar inteligência artificial na área florestal. Acredito que isso possa melhorar significativamente 
              as análises dos dados florestais e trazer benefícios à sociedade como um todo, uma vez que, ao trabalhar 
              com grandes quantidades de dados, podemos encontrar soluções para melhorar a produção florestal e reduzir 
              a supressão de florestas no Brasil e em outros países.
            </p>
            
          </div>
        </div>

      </section>

    </main>

    <script src='../static/bootstrap/js/bootstrap.bundle.min.js'> </script>
    <script src="../static/script.js"></script>
</body>
</html>