<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css" class="css">
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>This code</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class='profile'>
            <img src="../static/img/perfil.jpg" alt="Foto do Ewerton">
            <h1>Ewerton Pinheiro</h1>
            <div class="link mt-4 text-center">
                <a  target="_blank" href="www.linkedin.com/in/ewerton-souto-pinheiro-3b693813b">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a  target="_blank" href="https://github.com/Ossiumx">
                    <i class="bi bi-github"></i>

                <a  target="_blank" href="http://lattes.cnpq.br/6105912111978948">
                    <i class="bi bi-file-earmark"></i>
    
            </div>

            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                    <i class="bi bi-house"
                     aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"
                     aria-hidden="true"></i>
                    Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check" aria-hidden="true"></i>
                    Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo">  <i class="bi bi-file-earmark" aria-hidden="true"></i>
                    Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"> <i class="bi bi-collection" aria-hidden="true"></i>
                      Portfólio</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato"> <i class="bi bi-envelope" aria-hidden="true" ></i>
                    Contatos</a>
                </li>
              </ul>
        </nav>

    </aside>

    <main id="main">

      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow">Ewerton Pinheiro</h2>
          <span id="subtitle" class="text-white text-shadow">Graduando em Engenharia Florestal, Bolsista de Silvicultura e Manejo Florestal, Cientista de Dados</span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a></a>

          </div>
        
        </div>

      </section>

      <section  class= "container mt-5"id="sobre">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class="pt-3">Sobre</h2>
            <p> Sou estudante de Engenharia Florestal na Universidade Federal Rural do Semi-Árido (UFERSA) 
              e atualmente trabalho como bolsista de iniciação científica na área de Silvicultura e Manejo Florestal. 
              Como parte dos meus projetos e pesquisas, utilizo linguagens de programação como R e Python 
              para análises estatísticas, modelagem e geração de gráficos, entre outras atividades.
              
            </p>
          </div>

        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <img class="img-fluid shadow" src="../static/img/perfil2.jpg" alt="Foto do Ewerton">
          </div>
          <div class="col-md-8">
            <h3>Bolsista de Iniciação Científica</h3>
            <p>Atualmente trabalho na área de Silvicultura e Manejo Florestal,
              trabalhando em um projeto de nome: Teste de espécies
              florestais para produção no alto-oeste do Rio Grande do Norte
            </p>
            <div class="row mt-3 mb-3">
             <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Aniversário: <span class="fw-lighter">24 de 
                    Janeiro de 1994
                  </span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter"> 29 anos </span>
                </li>
                <li class="list-group-item">
                 Cidade/Estado: <span class="fw-lighter"> Mossoró / Rio Grande do Norte </span>
                </li>
              
              </ul>
             </div>
             <div class="col-md-6 ">
            <ul class="list-group list-group-flush fs-5">
              <li class="list-group-item">
                Hobby: <span class="fw-lighter"> Séries e Games </span>
              </li>
              <li class="list-group-item">
                Trabalho: <span class="fw-lighter"> Iniciação Científica (Pesquisas) </span>
              </li>
              <li class="list-group-item">
                Experiência: <span class="fw-lighter"> +2 anos</span>
              </li>
  
            </ul>
             </div>
            </div>

            <p> 
              Recentemente, tenho me dedicado a aprimorar minhas habilidades em machine learning e deep learning 
              para aplicar inteligência artificial na área florestal. Acredito que isso possa melhorar significativamente 
              as análises dos dados florestais e trazer benefícios à sociedade como um todo, uma vez que, ao trabalhar 
              com grandes quantidades de dados, podemos encontrar soluções para melhorar a produção florestal e reduzir 
              a supressão de florestas no Brasil e em outros países.
            </p>
            
          </div>
        </div>

      </section>

      <section class="mt-5 section-bg" id="habilidades">

          <div class="container pb-5">

            <h2 class="pt-5">Habilidades</h2>

            <p>Nesse tempo trabalhando com iniciação científica, adquiri algumas habilidades técnicas e não técnicas,
              a maioria delas está aqui, de acordo com a porcetagem de conhecimento que eu acredito ter em cada uma delas. </p>

              <div class="row">
                <div class="col-md-6">
                  <p class="mt-3 mb-0"> Inventário Florestal </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 95%">95%</div>
                  </div>
                  <p class="mt-3 mb-0"> Modelagem Volumétrica ou Alométrica </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 80%">80%</div>
                  </div>
                  <p class="mt-3 mb-0"> Relações Hipsométricas </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 75%">75%</div>
                  </div>
                  <p class="mt-3 mb-0"> R </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 60%">60%</div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <p class="mt-3 mb-0"> Python </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 40%">40%</div>
                  </div>
                  <p class="mt-3 mb-0"> Machine learning </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 10%">10%</div>
                  </div>
                  <p class="mt-3 mb-0"> Lidar (Light Detection and Ranging (R)) </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 20%">20%</div>
                  </div>
                  <p class="mt-3 mb-0"> HTML </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 15%">15%</div>
                  </div>
                </div>

              </div>

              <hr class="w-50 me-auto ms-auto">

              <div class="row">
                <div class="col-md-6">
                  <p class="mt-3 mb-0"> Trabalho em equipe </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 95%">95%</div>
                  </div>
                  <p class="mt-3 mb-0"> Proatividade </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 95%">95%</div>
                  </div>
                  <p class="mt-3 mb-0"> Flexibilidade </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 90%">90%</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="mt-3 mb-0"> Comunicação </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 91%">91%</div>
                  </div>
                  <p class="mt-3 mb-0"> Empatia </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 95%">95%</div>
                  </div>
                  <p class="mt-3 mb-0"> Comprometimento </p>
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 98%">98%</div>
                  </div>
                </div>
              </div>

          </div>
      </section>

        <section class="mt-5 cv" id="curriculo">

          <div class="container pb-5">

            <h2 class="pt-3 pb-4"> Curriculo </h2>

            <div class="row">

              <div class="col-md-6">

                <h3 class="cv-title"> Educação </h3>

                <div class="cv-item">

                  <h4> Bacharelado em Engenharia Florestal </h4>
                  <h5>2018 - atual</h5>
                  <p><em>Universidade Federal Rural do Semi-Árido</em></p>
                  <p> Graduação voltada a área florestal. Iniciação Científica na área de 
                    Silvicultura e Manejo Florestal. </p>
                </div>

                <div class="cv-item">
                  <h4> Fundamentos de Linguagem Python para
                    Análise de dados e Data Science
                  </h4>
                  <h5>2023 - atual</h5>
                  <p><em> Data Science Academy</em></p>
                  <p>
                    Curso voltado a desenvolver habilidade em programação em Python,
                    aprendendo também os fundamentos para análise de dados e data science.
                  </p>

                </div>

                <div class="cv-item">

                  <h4>Capacitação em Inteligência Artificial</h4>
                  <h5>2023 - atual</h5>
                  <p><em> SOFTEX - Instituto Federal do Maranhão</em></p>
                  <p>Curso voltado a capacitação em IA, passando por linguagens de programação
                    para aprendizado de máquina, ciência de dados e deep learning.
                  </p>


                </div>

              </div>

              <div class="col-md-6">

                <h3 class="cv-title">Profissional</h3>

                <div class="cv-item">

                  <h4>Bolsista de Iniciação Científica</h4>
                  <h5>2021 - 2021</h5>
                  <p><em>Universidade Federal Rural do Semi-Árido</em></p>
                  <p> Nesse trabalho eu tinha como objetivo, estimar o volume de madeira, biomassa verde e seca, 
                    densidade básica da madeira e a quantidade de estacas produzidas em um plantio de 
                    Sabiá</p>

                </div>

                <div class="cv-item">

                  <h4>Bolsista de Iniciação Científica</h4>
                  <h5>2021 - 2022</h5>
                  <p><em>Universidade Federal Rural do Semi-Árido</em></p>
                  <p>O objetivo do trabalho tinha como finalidade estimar através de equações, o volume de madeira e a 
                    biomassa seca de um plantio experimental de Sabiá.</p>

                </div>

                <div class="cv-item">

                  <h4>Bolsista de Iniciação Científica</h4>
                  <h5>2022 - atual</h5>
                  <p><em>Universidade Federal Rural do Semi-Árido</em></p>
                  <p>Tem como objetivo, testar a produtividade de espécies florestais nativas e exóticas 
                    visando o sortimento de produtos florestais madeireiros e não madeireiros para a região doalto-oeste Potiguar e, 
                    ao mesmo tempo, evitar o corte da vegetação nativa.</p>


                </div>


        </section>

    </main>

    <script src='../static/bootstrap/js/bootstrap.bundle.min.js'> </script>
    <script src="../static/script.js"></script>
</body>
</html>